################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StringCalculator/.vs/StringCalculator/v15/Server/sqlite3
/StringCalculator/packages/NUnit.2.6.4
/StringCalculator/StringCalculator.Test/obj
/StringCalculator/StringCalculator.Core/obj
/StringCalculator/StringCalculator.Console/obj
/StringCalculator/.vs/StringCalculator/v15
/StringCalculator/StringCalculator.Console/bin/Debug
/StringCalculator/StringCalculator.Core/bin/Debug
